@keyframes customSlashReverse {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loading-bg {
  background: linear-gradient(120deg, rgba(65, 105, 225, 0.2) 25%, rgba(65, 105, 225, 0.1) 50%, rgba(65, 105, 225, 0.2) 75%);
  background-size: 300% 300%;
  animation: customSlashReverse 2.5s linear infinite;
}